crypto
  selector
    button.crypto-button(type='active') btc
    button.crypto-button(type='inactive') eth
    button.crypto-button(type='inactive') bch
    button.crypto-button(type='inactive') ltc
    button.crypto-button(type='inactive') sxp
  chart
  numbers
    difference
      label since last day
      difference-amount
    current
      label current value
      current-price
