crypto
  selector
    button.crypto-button(type='active') btc
    button.crypto-button(type='inactive') eth
    button.crypto-button(type='inactive') bch
    button.crypto-button(type='inactive') ltc
    button.crypto-button(type='inactive') sxp
  chart
  numbers
    difference
      label since 24h
      difference-amount
    current
      label cur. value
      current-price
