doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='../css/index.css', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', href='../assets/icons/pomme.svg')
  script(type='module', src='../js/index.js')
  title Pomme Page

grid
  clock 
    p.time

  pomme

  include search.pug

  pomme

  a(href='https://reddit.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/reddit.svg')

  a(href='https://github.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/github.svg')

  a(href='https://binance.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/binance.svg')

  a(href='https://youtube.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/youtube.svg')

  a(href='https://www.portainer.io/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/docker.svg')

  a(href='https://jellyfin.org/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/jellyfin.svg')

  pomme

  include chart.pug

  pomme

  a(href='https://pinterest.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/pinterest.svg')

  include weather.pug

  a(href='https://protonmail.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/protonmail.svg')

  a(href='https://tutanota.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/tutanota.svg')

  a(href='https://cyberghost.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/cyberghost.svg')

  pomme

  a(href='https://dribbble.com/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/dribbble.svg')

  a(href='https://cryptowat.ch/', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/cryptowatch.svg')

  pomme

  a(href='https://www.ovh.com/fr//', target='_blank', rel='noopener noreferrer')
    img.icon(src='../assets/icons/ovh.svg')

  pomme
