search
  engine
    button.engine-button(type='active', engine='duckduckgo', address='https://www.duckduckgo.com/') 
      img.icon(src='../assets/icons/duck.svg')
    button.engine-button(type='inactive', engine='google', address='https://www.google.com/') 
      img.icon(src='../assets/icons/google.svg')
  input(type='text', autofocus)
