weather
  weather-icon
    img.icon(src='../assets/icons/clear.svg', state='hide')
    img.icon(src='../assets/icons/clouds.svg', state='hide')
    img.icon(src='../assets/icons/drizzle.svg', state='hide')
    img.icon(src='../assets/icons/rain.svg', state='hide')
    img.icon(src='../assets/icons/snow.svg', state='hide')
    img.icon(src='../assets/icons/thunderstorm.svg', state='hide')
    img.icon(src='../assets/icons/fog.svg', state='hide')
  weather-info
    city
      city-label city
      city-name LRSY
    temp 
      temp-label temp.
      temp-value 
