/************** RAISIN **************/

raisin {
  display: flex;
  flex-direction: column;
  grid-row: span 4;
  justify-content: space-between;
  padding: var(--spacing-00) var(--spacing-0);
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
  animation: fadein-page 50ms ease-out normal backwards;
  animation-delay: 50ms;
}

.raisin-title {
  color: var(--myrtille-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
}

raisin-links {
  display: flex;
  flex-direction: column;
}

.raisin-link {
  padding: var(--spacing-0000) 0;
  overflow: hidden;
  color: inherit;
  color: var(--myrtille-background);
  font-size: var(--scale-00);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  border-top: 1px dashed var(--myrtille-background);
  outline: none;
  transition: 200ms;
}

.raisin-link:first-child {
  border-top: none;
}

.raisin-link:hover {
  color: var(--pomme-background);
}
