/************** CRYPTO **************/

pp-binance {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 6;
  padding: 0 var(--spacing-2);
  background-color: var(--module-background);
  border-radius: 10px;
  animation: module-display 500ms ease-in-out;
}

pp-binance-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-4);
}

.binance-selector-button {
  padding: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.binance-selector-button[data-state='active'] {
  color: var(--main);
}

.binance-selector-button[data-state='inactive'] {
  color: var(--main-light);
}

pp-binance-chart {
  display: flex;
  flex: 1;
  align-items: center;
  transform: scaleY(-1);
}

pp-binance-chart-label {
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
  text-align: right;
}

pp-binance-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-5);
}

pp-binance-current {
  text-align: right;
}

.binance-difference-label,
.binance-current-label {
  padding-top: var(--spacing-1);
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

.binance-difference-value,
.binance-current-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}

.binance-money-unit {
  position: relative;
  top: -1px;
  color: var(--main-light);
  font-size: var(--scale-0);
}

pp-binance-loader-container {
  display: flex;
  grid-column: span 2;
  grid-row: span 6;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-binance-error-container {
  display: none;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 6;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  animation: module-display 500ms ease-in-out;
}

p.binance-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}
