/************** CLOCK **************/

pp-clock {
  display: flex;
  grid-row: span 2;
  grid-column: span 2;
  background-color: transparent;
  perspective: 400px;
}

pp-clock-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--module-background);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 300ms;
}

pp-clock-inner:hover {
  cursor: pointer;
}

pp-clock-front,
pp-clock-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

pp-clock-front {
  color: var(--main);
}

pp-clock-back {
  color: var(--main);
  background-color: var(--myrtille-background);
  border-radius: 10px;
  transform: rotateX(180deg);
}

pp-clock-inner.is-flipped {
  transform: rotateX(-180deg);
}

.pp-clock-time,
.pp-clock-date {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}
