/************** CLOCK **************/

pp-clock {
  display: flex;
  grid-column: span 2;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  background-color: var(--module-background);
  border-radius: 10px;
  animation: fadein-page 250ms ease-out normal backwards;
  animation-delay: 200ms;
}

.pp-time {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}
