/************** openweather **************/

pp-openweather {
  display: none;
  grid-row: span 4;
  grid-column: span 1;
  perspective: 400px;
  animation: module-display 500ms ease-in-out;
}

pp-openweather-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--module-background);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 300ms;
}

pp-openweather-inner:hover {
  cursor: pointer;
}

pp-openweather-inner.is-flipped {
  transform: rotateY(180deg);
}

pp-openweather-front,
pp-openweather-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-0000) var(--spacing-0);
  backface-visibility: hidden;
}

pp-openweather-front {
  color: var(--main);
}

pp-openweather-icons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

pp-openweather-icons .pp-openweather-icon[data-state='hide'] {
  display: none;
}

pp-openweather-city,
pp-openweather-temp,
pp-openweather-humid {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  height: var(--spacing-2);
}

.city-label,
.temp-label,
.humid-label {
  color: var(--main-light);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

.city-value,
.temp-value,
.humid-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
}

pp-openweather-back {
  color: var(--main);
  background-color: var(--myrtille-background);
  border-radius: 10px;
  transform: rotateY(-180deg);
}

.pp-openweather-time,
.pp-openweather-date {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}

pp-openweather-linebreak {
  width: 80%;
  height: 1px;
  margin: var(--spacing-000) 0;
  background: var(--main);
}

.openweather-back-sunrise,
.openweather-back-sunset {
  margin: var(--spacing-0000) 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
}

pp-openweather-loader-container {
  display: flex;
  grid-row: span 4;
  grid-column: span 1;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-openweather-error-container {
  display: none;
  flex-direction: column;
  grid-row: span 4;
  grid-column: span 1;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  animation: module-display 500ms ease-in-out;
}

p.openweather-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}
