// //////// UNSPLASH //////// //

pp-unsplash
  img.unsplash-small(src='')

pp-unsplash-loader-container
  pp-loader
    pp-loader-dot
    pp-loader-dot
    pp-loader-dot
    pp-loader-dot

pp-unsplash-error-container
  p.error-notification API error
  p.unsplash-error-code
