/************** UNSPLASH **************/

pp-unsplash {
  display: none;
  grid-row: span 4;
  grid-column: span 2;
  background-color: var(--myrtille-background);
  border-radius: 10px;
  animation: module-display 500ms ease-in-out;
}

pp-unsplash > img {
  width: 100%;
  padding: var(--spacing-0000);
  border-radius: 12px;
  opacity: 0.5;
  filter: grayscale(80%);
}

pp-unsplash-loader-container {
  display: flex;
  grid-row: span 4;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  border: 2px solid var(--pomme-background);
  border-radius: 10px;
}

pp-unsplash-error-container {
  display: none;
  flex-direction: column;
  grid-row: span 4;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  border: 2px solid var(--search-background);
  border-radius: 10px;
  animation: module-display 500ms ease-in-out;
}

p.unsplash-error-code {
  margin-top: var(--spacing-0);
  color: var(--search-background);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
}
