/************** SEARCH **************/

pp-search {
  display: flex;
  grid-row: span 2;
  grid-column: span 3;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-0);
  background-color: var(--search-background);
  border-radius: 10px;
  animation: fadein-page 250ms ease-out normal backwards;
  animation-delay: 150ms;
}

pp-engine-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.pp-search-icon {
  width: var(--spacing-2);
  height: var(--spacing-2);
  padding: 0;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.pp-search-icon[data-state='inactive'] {
  opacity: 0.5;
}

.pp-search-icon > path {
  pointer-events: none;
}

.pp-search-input {
  flex: 1;
  min-width: 0;
  margin: 0 var(--spacing-000) 0 24px;
  padding: var(--spacing-0000) 0;
  color: var(--main);
  font-size: var(--scale-2);
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px dashed var(--main);
  box-shadow: none;
}

pp-search textarea:focus,
input:focus {
  outline: none;
}
