// //////// SEARCH //////// //

pp-search
  pp-engine-buttons
    button.pp-search-button(type='active', engine='duckduckgo', address='https://www.duckduckgo.com/') 
      img(src='./assets/icons/search/duck.svg')
    button.pp-search-button(type='inactive', engine='google', address='https://www.google.com/') 
      img(src='./assets/icons/search/google.svg')
  input.pp-search-input(type='text', autofocus)
