/************** CHART **************/

crypto {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  grid-row: span 6;
  background-color: var(--orange);
  border-radius: 10px;
}

selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 var(--spacing-2);
}

selector button[type='inactive'] {
  padding: 0;
  color: inherit;
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
  opacity: 0.5;
}

selector button[type='active'] {
  padding: 0;
  color: inherit;
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-2);
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

chart {
  display: flex;
  flex: 1;
  justify-content: center;
}

numbers {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

difference {
  display: flex;
  flex-direction: column;
  padding-left: var(--spacing-2);
}

current {
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing-2);
  text-align: right;
}

label {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
  opacity: 0.5;
}

difference-amount,
current-price {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-3);
}
