/************** SEARCH **************/

search {
  display: flex;
  grid-column: span 3;
  grid-row: span 2;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  border-radius: 10px;
}

engine button[type='active'] {
  width: var(--spacing-2);
  margin-left: var(--spacing-1);
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

engine button[type='inactive'] {
  width: var(--spacing-2);
  margin-left: var(--spacing-1);
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
  opacity: 0.5;
}

search input {
  flex: 1;
  width: var(--width-1);
  margin: 0 var(--spacing-1);
  padding: var(--spacing-000) 0;
  color: var(--main);
  font-size: var(--scale-2);
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid var(--main);
  box-shadow: none;
}

search textarea:focus,
input:focus {
  outline: none;
}
