/************** WEATHER **************/

weather {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 4;
  align-items: center;
  background-color: var(--orange);
  border-radius: 10px;
}

weather-icon {
  display: flex;
  flex: 1;
}

weather-icon .icon[state='show'] {
  width: var(--spacing-4);
}

weather-icon .icon[state='hide'] {
  display: none;
}

weather-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: var(--spacing-3);
}

weather-info city {
  display: flex;
  flex-direction: column;
}

weather-info temp {
  display: flex;
  flex-direction: column;
  text-align: right;
}

city-label,
temp-label {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-0);
  opacity: 0.5;
}

city-name,
temp-value {
  color: var(--main);
  font-weight: var(--font-weight-bold);
  font-size: var(--scale-1);
}
