doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='robots', content='noindex')
  link(href='./index.css', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', href='../assets/icons/logo/logo.svg')
  script(type='module', src='./index.js')
  title Pomme Page

grid
  mixin myrtille(domain, viewbox, svgPath)
    a.myrtille-link(href="https://" + domain, target='_blank', rel='noopener noreferrer')
      svg(xmlns='http://www.w3.org/2000/svg', fill-rule='evenodd', viewBox=viewbox)
        path(d=svgPath)

  include clock/clock

  pomme

  include search/search

  raisin

  pomme

  +myrtille('reddit.com/', '0 0 24 24', 'M14.238 15.348a.215.215 0 010 .306c-.465.462-1.194.687-2.231.687l-.008-.002-.008.002c-1.036 0-1.766-.225-2.231-.688a.214.214 0 010-.305.219.219 0 01.307 0c.379.377 1.008.561 1.924.561l.008.002.008-.002c.915 0 1.544-.184 1.924-.561a.219.219 0 01.307 0zm-3.44-2.418a.922.922 0 00-1.845 0c0 .506.414.918.923.918a.92.92 0 00.922-.918zM24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-5-.129a1.548 1.548 0 00-2.624-1.108c-1.056-.695-2.485-1.137-4.066-1.194l.865-2.724 2.343.549-.003.034c0 .696.569 1.262 1.268 1.262.699 0 1.267-.566 1.267-1.262a1.266 1.266 0 00-2.446-.458l-2.525-.592a.216.216 0 00-.257.145l-.965 3.038c-1.656.02-3.155.466-4.258 1.181A1.546 1.546 0 005 11.871c0 .566.311 1.056.768 1.325-.03.164-.05.331-.05.5 0 2.281 2.805 4.137 6.253 4.137s6.253-1.856 6.253-4.137c0-.16-.017-.317-.044-.472.486-.261.82-.766.82-1.353zm-4.872.141a.921.921 0 00-.922.919.921.921 0 001.844 0 .921.921 0 00-.922-.919z')

  +myrtille('github.com/', '0 0 64 64', "M22.8 62.664C9.63 58.7 0 46.4 0 32 0 14.3 14.3 0 32 0s32 14.3 32 32c0 14.3-9.4 26.4-22.3 30.5-.84-.483-1.408-1.2-1.6-2.5-.024-2.5-.179-13.6-1-13.996L39 46c8.666-2.2 15-8.535 15-16 0-3.9-1.1-8.047-3.9-10.966L50 19c1.01-3.3.496-6.2-1-9-3.4-.029-6.3 1.4-8.9 3.942L40 14c-2.4-1.553-13.4-1.4-15.9-.017L24 14c-1.1-2-7-4.6-9-4-2.1 2.4-2.6 5.3-1 8.958L14 19c-3.1 3.1-3.7 7.6-4 11-.4 7.4 8.4 16 15.9 16.001A.157.157 0 0126 46l-.086.001c-.498.1-.961 2.7-.914 3.9-4.8 2.7-9.2-1-11-4-.958-1.6-6-2.6-6-1 .039 1.2 3.1 2.7 4 5 1.4 3.8 9.3 8.8 13 5v5c-.3 1.3-1 2.2-2.1 2.664z")

  raisin

  +myrtille('binance.com/', '0 0 1024 1024', "M394.803 115.988l-.191-.191L510 0l313.601 314.713-115.388 115.796-198.022-198.724-198.404 199.107-115.388-115.796 198.404-199.108zm0 792.024l-.191.191L510 1024l313.601-314.713-115.388-115.796-198.022 198.724-198.404-199.107-115.388 115.796 198.404 199.108zm-164.028-395.82L115.388 396.395 0 512.192l115.388 115.796 115.387-115.796z M625.388 512.192L510 396.395 394.612 512.192 510 627.988l115.388-115.796zm394.612 0L904.613 396.395 789.225 512.192l115.387 115.796L1020 512.192z")

  +myrtille('youtube.com/', '0 0 1024 1024', "M512 0c282.58 0 512 229.42 512 512 0 282.58-229.42 512-512 512C229.42 1024 0 794.58 0 512 0 229.42 229.42 0 512 0zm270 422.988C782 370.563 739.437 328 687.012 328c0 0-116.66-4-175.012-4-58.671 0-177.012 4-177.012 4C282.563 328 240 370.563 240 422.988c-2.846 35.406-3.728 73.675-3.728 106.012 0 29.364 1.527 58.716 3.728 88.012C240 669.437 282.563 712 334.988 712c0 0 118.341 4 177.012 4 58.352 0 175.012-4 175.012-4C739.437 712 782 669.437 782 617.012c0 0 2-72.675 2-105.012 0-29.678-2-89.012-2-89.012zM461 444l147 86-146.012 84L461 444z")

  pomme

  include unsplash/unsplash

  +myrtille('jellyfin.org/', '0 0 512 512', "M256 201.6c-20.4 0-86.2 119.3-76.2 139.4s142.5 19.9 152.4 0-55.7-139.4-76.2-139.4z M256 23.3c-61.6 0-259.8 359.4-229.6 420.1s429.3 60 459.2 0S317.6 23.3 256 23.3zm150.5 367.5c-19.6 39.3-281.1 39.8-300.9 0S215.7 115.5 256 115.5s170.1 235.9 150.5 275.3z")

  pomme

  include binance/binance

  pomme

  +myrtille('pinterest.com/', '0 0 24 24', "M12 0C5.373 0 0 5.372 0 12c0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738a.36.36 0 01.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.262 7.929-7.262 4.163 0 7.398 2.967 7.398 6.931 0 4.136-2.607 7.464-6.227 7.464-1.216 0-2.359-.631-2.75-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146C9.57 23.812 10.763 24 12 24c6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12z")

  include openweather/openweather

  +myrtille('protonmail.com/', '0 0 64 64', "M8 64V41l21.1 13.2a5.4 5.4 0 005.7 0L56 41v23H8zm0-39C8.3 11.3 18.7 0 32 0c13.43 0 23.9 10.9 24 24.836V35L36.4 48.874A7.8 7.8 0 0127.5 49L8 36V25zm10.006-4C18.218 14.7 24.2 9.6 32 9.68c7.865 0 14 4.8 14 11.32v8H18v-8h.006z")

  +myrtille('bitwarden.com/', '0 0 64 64', "M32 0c17.6 0 32 14.3 32 32S49.6 64 32 64 0 49.6 0 32 14.3 0 32 0zM14 17.539c0-.673.2-1.3.7-1.795A2.5 2.5 0 0116.539 15h30.868A2.59 2.5 0 0150 17.594V39c-2.8 9.1-9.1 14.5-17.4 17.7-.347.135-.73.1-1.078.008C23.4 53.7 17.3 48.2 14 39V17.539zM32 20h13v19c-1.3 5.022-6.3 9.1-13 13V20z")

  raisin

  +myrtille('cyberghost.com/', '0 0 834 834', "M416.6 0c229.9 0 416.6 186.7 416.6 416.6 0 229.964-186.702 416.6-416.6 416.666C186.7 833.3 0 646.6 0 416.6 0 186.7 186.7 0 416.6 0zm-200 637.5c18.06 24.8 40.1 31.29 87.5 29.1 35.6-1.5 63.323-3.8 114.67-8.3 51.347-4.4 93.6-6.8 126.9-25 32.0-17.5 69.5-31.2 83.3-62.5 15.2-34.7 30.5-51.1 8.33-120.833s-17.9-118.0-20.8-137.5c-2.842-19.4-13.4-82.97-70.8-120.8-24.65-16.2-48.7-31.5-71.9-38.8-30.7-9.6-59.8-8.2-86.4-7.0-44.6 2.0-90.9 30.5-120.8 58.3-29.8 27.7-47.9 69.4-58.3 108.3-10.4 38.8 1.3 61.3-4.1 125 0 0-7.4 37.8-8.3 79.9-.9 40.3 2.8 95.1 20.8 120.004zm150-387.5c43.6 0 79.1 48.5 79.1 108.3 0 59.7-35.4 108.3-79.1 108.3-43.6 0-79.1-48.5-79.1-108.3 0-59.79 35.4-108.3 79.1-108.333zm179.166 12.5c32.1 0 58.3 38.2 58.334 85.417 0 47.142-26.139 85.416-58.334 85.416-32.195 0-58.333-38.274-58.333-85.416 0-47.143 26.138-85.417 58.333-85.417z")

  pomme

  +myrtille('ovh.com/', '0 0 400 400', "M200 0c110.383 0 200 89.617 200 200s-89.617 200-200 200S0 310.383 0 200 89.617 0 200 0zM73.518 123.497c-2.221-3.528-26.189 50.27-18.541 96.88 8.45 51.499 31.909 66.293 31.909 66.293l81.504-.182 99.562-173.158-84.54.156-57.916 99.564-51.978-89.553zm189.288 54.038l-37.643 66.204 32.648-.099-24.476 42.822 80.396-.143s29.706-41.625 31.868-65.942c5.922-66.59-18.561-96.793-18.561-96.793l-30.651 53.862-33.581.089z")

  pomme

  include stormglass/stormglass

  +myrtille('twitter.com/', '0 0 64 64', "M6 9c-2.5 6.1-2.8 11.8 3 17-2.049.038-3.5-.409-5-1 .1 6.1 3.2 10.2 10 12-2.069.767-4.067.743-6 0 2.5 5.7 6.2 9.3 12 9-5.1 4.1-11.1 5.95-18 6 17.1 9.7 34.4 4.9 43-4 7.8-8.2 14.74-21.2 12-29 .9.246 6.305-5.8 6-6a57.81 57.81 0 01-7 2c2.5-1.9 4.1-4.3 5-7a30.6 30.6 0 01-8 3c-3.5-4-8.6-4.4-14-3-7.5 2-7.9 14.1-7 14 .0 2.8-27.9-6.3-26-13z")

  raisin

  +myrtille('open.spotify.com/artist/4f5jXUsTawjMgcL1xxoESq', '0 0 64 64', "M32 0c17.6 0 32 14.3 32 32S49.6 64 32 64 0 49.6 0 32 14.3 0 32 0zM15.5 44.11c10.64-2.7 20.382-2.474 29.3 2.77a2.1 2.1 0 002.194-3.76c-9.988-5.83-20.804-6.2-32.6-3.23a2.1 2.1 0 00-1.5 2.6 2.1 2.1 0 002.6 1.573zm.224-9.815c10.551-3.1 22.9-1.9 31.8 3.695a2.6 2.6 0 002.8-4.433c-10.054-6.4-24.1-7.9-36.1-4.305a2.6 2.6 0 001.5 5.043zm-1.912-10.481c10.587-3.1 28.6-2 37.5 3.659a2.9 2.9 0 103.1-4.946c-10-6.4-30.4-7.9-42.4-4.341a2.9 2.9 0 00-1.9 3.6 2.9 2.9 0 003.6 1.965z")

  pomme

  +myrtille('arte.tv/', '0 0 1024 1024', "M512 0c282.5 0 512 229.4 512 512 0 282.5-229.4 512-512 512C229.4 1024 0 794.5 0 512 0 229.4 229.4 0 512 0zm308 738V412c-.361-131.8-217.3-152.1-326-148-100.9 3.898-266.6 33.276-278 198h222c2.52-33.8 28.338-51.5 76-54 43.294-.074 70.5 12.3 76 42 3.6 26.2-17.6 42.4-70 46-108.9 7.2-230.2 31.9-280 70-50 38.2-80.7 118.464-6 174h228c-18.3-25.2-31.6-57.2-14-76 21.3-22.6 53.4-36.9 142-60v134h230z")

  raisin

  +myrtille('tutanota.com/', '0 0 64 64', "M32 0c17.6 0 32 14.3 32 32S49.6 64 32 64 0 49.6 0 32 14.3 0 32 0zm18 40.602c.054.209.056.349 0 .398v-.398c-.363-1.396-3.061-5.86-6-6.602-3.831-.968-13-2.833-14-4-1-1.167 7-2.1 8-3 .724-.6-1.8-2-2-2-.167 0 1.6 1.6 1 2-1.833.833-11.6 1.3-12 3-.3 1.6 11.2 3.7 10 7-1.5 4.1-20.79 11.8-21 11V15h36v25.602z")
